button {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-family: Oswald, Helvetica, Arial, sans-serif;

    &:focus {
        outline: none;
    }
}

p {
    margin: 0;
}